<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="Cassiano Doneda" content="" />

    <title>SB Admin - Bootstrap Admin Template</title>
    
    <link href="css/bootstrap.min.css" rel="stylesheet" />

    
    <link href="css/sb-admin.css" rel="stylesheet" />

    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
	
	<style type="text/css">
		.input-group-btn{
			position: relative;
    		font-size: 0;
    		white-space: nowrap;
    		top: 13px !important;
		}

	</style>>

</head>

<body>

    
    <div id="wrapper">

      <div th:replace="nav :: nav">
       </div>

        <div id="page-wrapper">

             <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Definição Cronograma                          
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="dashboard.html">Dashboard</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-file"></i> Cronograma
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->
                
                <div class="row">
                    
                  <form>
			        <div class="form-group">
                         <label>Ano</label>
                           <input class="form-control" />
                    </div>
					<div class="form-group">
                         <label>Semestre</label>
                          <select id="disabledSelect" class="form-control">
									<option>1º</option>
									<option>2º</option>
						  </select>
                    </div>
                    <div class="form-group">
                         <label>Curso</label>
                          <select id="disabledSelect" class="form-control">
									<option>TADS</option>
									<option>Logistica</option>
								
						  </select>
                    </div>
                   <div class="col-lg-6">   
	                    <div class="form-group">
		                      <label>Atividade 1</label>
		                      <input class="form-control" />
		                   
	                    </div>
                    </div>
                    <div class="col-lg-4">
	                     <div class="form-group input-group">
	                    	<label>Data</label>
	                        <input placeholder="00/00/0000 23:59"  class="form-control input-group" />
	                         <span   class="input-group-btn">
								<button class="btn btn-default" type="button">
									<i class="fa fa-calendar"></i>
								</button>
							</span>
	                    </div>  
                    </div>
                    <div class="col-lg-6">   
	                    <div class="form-group">
		                      <label>Atividade 2</label>
		                      <input class="form-control" />
		                   
	                    </div>
                    </div>
                    <div class="col-lg-4">
	                    <div class="form-group input-group">
	                    	<label>Data</label>
	                        <input placeholder="00/00/0000 23:59"  class="form-control input-group" />
	                         <span   class="input-group-btn">
								<button class="btn btn-default" type="button">
									<i class="fa fa-calendar"></i>
								</button>
							</span>
	                    </div>  
                    </div> 
                    <div class="col-lg-6">   
	                    <div class="form-group">
		                      <label>Atividade 3</label>
		                      <input class="form-control" />
		                   
	                    </div>
                    </div>
                    <div class="col-lg-4">
	                     <div class="form-group input-group">
	                    	<label>Data</label>
	                        <input placeholder="00/00/0000 23:59"  class="form-control input-group" />
	                         <span   class="input-group-btn">
								<button class="btn btn-default" type="button">
									<i class="fa fa-calendar"></i>
								</button>
							</span>
	                    </div>  
                    </div>
                    <div class="col-lg-6">   
	                    <div class="form-group">
		                      <label>Atividade 4</label>
		                      <input class="form-control" />
		                   
	                    </div>
                    </div>
                    <div class="col-lg-4">
	                    <div class="form-group input-group">
	                    	<label>Data</label>
	                        <input placeholder="00/00/0000 23:59"  class="form-control input-group" />
	                         <span   class="input-group-btn">
								<button class="btn btn-default" type="button">
									<i class="fa fa-calendar"></i>
								</button>
							</span>
	                    </div>  
                    </div> 
                    <div class="col-lg-6">   
	                    <div class="form-group">
		                      <label>Atividade 5</label>
		                      <input class="form-control" />
		                   
	                    </div>
                    </div>
                    <div class="col-lg-4">
	                     <div class="form-group input-group">
	                    	<label>Data</label>
	                        <input placeholder="00/00/0000 23:59"  class="form-control input-group" />
	                         <span   class="input-group-btn">
								<button class="btn btn-default" type="button">
									<i class="fa fa-calendar"></i>
								</button>
							</span>
	                    </div> 
                    </div> 
                    <div class="col-lg-6">   
	                    <div class="form-group">
		                      <label>Atividade 6</label>
		                      <input class="form-control" />
					          
	                    </div>
                    </div>
                    <div class="col-lg-4">
	                    <div class="form-group input-group">
	                    	<label>Data</label>
	                        <input placeholder="00/00/0000 23:59"  class="form-control input-group" />
	                         <span   class="input-group-btn">
								<button class="btn btn-default" type="button">
									<i class="fa fa-calendar"></i>
								</button>
							</span>
	                    </div> 
                    </div>  
	            <div class="form-group">
	             <button type="button" class="btn btn-sm btn-primary" href="cadastraCronograma">Adicionar Atividade </button>		  
			  </div>
		    <div class="form-group">
                     <div class="col-lg-12">
                    	<button type="submit" class="btn btn-success">Salvar</button>
						<a href="defineCronograma" class="btn btn-default">Voltar</a>
                      </div>
                    </div>
                  </form>
			
                </div>
            </div>
        </div>
    </div>
      
    <script src="js/jquery.js"></script>

    <script src="js/bootstrap.min.js"></script>

</body>

</html>
