<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="Cassiano Doneda" content="" />

    <title>SB Admin - Bootstrap Admin Template</title>
    
    <link href="css/bootstrap.min.css" rel="stylesheet" />

    
    <link href="css/sb-admin.css" rel="stylesheet" />

    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />


</head>

<body>

    
    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">IFTCC</a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> <b class="caret"></b></a>
                    <ul class="dropdown-menu message-dropdown">
                        <li class="message-preview">
                            <a href="#">
                                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="" />
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading"><strong>Coordenador</strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="message-preview">
                            <a href="#">
                                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="" />
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading"><strong>Coordenador</strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="message-preview">
                            <a href="#">
                                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="" />
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading"><strong>Coordenador</strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="message-footer">
                            <a href="#">Read All New Messages</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> <b class="caret"></b></a>
                    <ul class="dropdown-menu alert-dropdown">
                        <li>
                            <a href="#">Alert Name <span class="label label-default">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-primary">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-success">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-info">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-warning">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-danger">Alert Badge</span></a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">View All</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Coordenador<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#"><i class="fa fa-fw fa-user"></i> Perfil</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-envelope"></i> Mensagens</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-gear"></i> Configurações</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-power-off"></i> Sair</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li>
                        <a href="dashboard.html"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                    </li>
                    <li>
						<a href="javascript:;" data-toggle="collapse" data-target="#tcc"><i class="fa fa-fw fa-edit"></i> TCC<i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="tcc" class="collapse">
                            <li>
                                <a href="deftema.html"> Tema</a>
                            </li>
                            <li>
                                <a href="#"> Proposta</a>
                            </li>
                             <li>
                                <a href="#"> Avaliação</a>
                            </li>
                            
                        </ul>
                    </li>
                    <li>
						<a href="javascript:;" data-toggle="collapse" data-target="#defbanca"><i class="fa fa-fw fa-wrench"></i> Administração<i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="defbanca" class="collapse">
                            <li>
                                <a href="defbanca.html"> Banca</a>
                            </li>
                            <li>
                                <a href="#"> Cronograma</a>
                            </li>
                        </ul>
                    </li>                    
                    <li>
                        <a href="blankpage.html"><i class="fa fa-fw fa-file"></i> Blank Page</a>
                    </li>                    
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

             <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Definição de Membros da Banca do TCC                            
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="dashboard.html">Dashboard</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-file"></i> Lista TCC
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->
                
                <div class="row">
                    
                    <div class="col-lg-12">
                        <h3>Lista de Trabalho de TCC</h3>
                        <div class="table-responsive">
                            <table class="table table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Aluno</th>
                                        <th>Titulo do Trabalho</th>
                                        <th>Área</th>
                                        <th>Orientador</th>
                                        <th>Avaliador 1</th>
                                        <th>Avaliador 2</th>
                                        <th>Data/Horário</th>
                                        <th>Local</th>
                                        
                                        <th>Ação</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="success">
                                        <td>											
											1											
										</td>
                                        <td>Everton Bitencourt</td>
                                        <td>Tema1 do TCC</td>
                                        <td>Inteligência Artificial</td>
                                        <td>Igor Lorenzato</td>
                                        <td>Adriel Mota Ziesemer Junior</td>
                                        <td>Rafael Coimbra Pinto</td>
                                        <td>30/11/2016 17:00</td>
                                        <td>Auditório 2</td>
                                        
										<td>
											<a href="defbancaedit.html">
												<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
											</a>
										</td>
                                    </tr>
                                    <tr class="danger">
                                        <td>									
											2																					
										</td>
                                        <td>Cassiano Doneda</td>
                                        <td>Qualidade da informação na adoção do software IFTCC no campus IFRS-Canoas.</td>
                                        <td>Banco de Dados</td>
                                        <td>Márcio Bigolin</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        
										<td>
											<a href="defbancaedit.html">
												<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
											</a>
										</td>
                                    </tr>
                                    <tr class="warning">
                                        <td>											
											3											
										</td>
                                        <td>Andressa Job</td>
                                        <td>Tema3 do TCC</td>
                                        <td>Dispositivos Móveis</td>
                                        <td>Rafael Coimbra Pinto</td>
                                        <td>Denise Regina Pechmann</td>
                                        <td></td>
                                        <td>30/11/2016 16:00</td>
                                        <td>Lab 10</td>
                                        
										<td>
											<a href="defbancaedit.html">
												<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
											</a>
										</td>
                                    </tr>
                                     <tr class="danger">
                                        <td>									
											4																					
										</td>
                                        <td>Victor Junior</td>
                                        <td>Tema4 do TCC</td>
                                        <td>Inteligência Artificial</td>
                                        <td>Rafael Coimbra Pinto</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        
										<td>
											<a href="defbancaedit.html">
												<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
											</a>
										</td>
                                    </tr>
                                     <tr class="success">
                                        <td>											
											5											
										</td>
                                        <td>Delmar Junior Santos Furtado</td>
                                        <td>Tema5 do TCC</td>
                                        <td>Inteligência Artificial</td>
                                        <td>Igor Lorenzato</td>
                                        <td>Adriel Mota Ziesemer Junior</td>
                                        <td>Silvia de Castro Bertagnolli</td>
                                        <td>28/11/2016 09:00</td>
                                        <td>Lab 10</td>
                                        
										<td>
											<a href="defbancaedit.html">
												<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
											</a>
										</td>
                                    </tr>
                                     <tr class="success">
                                        <td>											
											6											
										</td>
                                        <td>Pablo Diehl da Silva</td>
                                        <td>Tema6 do TCC</td>
                                        <td>Banco de Dados</td>
                                        <td>Marcio Bigolin</td>
                                        <td>Igor Lorenzato</td>
                                        <td>Rafael Coimbra Pinto</td>
                                        <td>23/11/2016 10:00</td>
                                        <td>Auditório 1</td>
                                        
										<td>
											<a href="defbancaedit.html">
												<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
											</a>
										</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
					
					
                </div>
                <!-- /.row -->
                

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->  
    <script src="js/jquery.js"></script>

    <script src="js/bootstrap.min.js"></script>

</body>

</html>
