<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="" />
<meta name="Cassiano Doneda" content="" />

<title>SB Admin - Bootstrap Admin Template</title>

<link href="css/bootstrap.min.css" rel="stylesheet" />


<link href="css/sb-admin.css" rel="stylesheet" />

<link href="font-awesome/css/font-awesome.min.css" rel="stylesheet"
	type="text/css" />


</head>

<body>


	<div id="wrapper">

		<!-- Navigation -->
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">IFTCC</a>
			</div>
			<!-- Top Menu Items -->
			<ul class="nav navbar-right top-nav">
				<li class="dropdown"><a href="#" class="dropdown-toggle"
					data-toggle="dropdown"><i class="fa fa-envelope"></i> <b
						class="caret"></b></a>
					<ul class="dropdown-menu message-dropdown">
						<li class="message-preview"><a href="#">
								<div class="media">
									<span class="pull-left"> <img class="media-object"
										src="http://placehold.it/50x50" alt="" />
									</span>
									<div class="media-body">
										<h5 class="media-heading">
											<strong>Coordenador</strong>
										</h5>
										<p class="small text-muted">
											<i class="fa fa-clock-o"></i> Yesterday at 4:32 PM
										</p>
										<p>Lorem ipsum dolor sit amet, consectetur...</p>
									</div>
								</div>
						</a></li>
						<li class="message-preview"><a href="#">
								<div class="media">
									<span class="pull-left"> <img class="media-object"
										src="http://placehold.it/50x50" alt="" />
									</span>
									<div class="media-body">
										<h5 class="media-heading">
											<strong>Coordenador</strong>
										</h5>
										<p class="small text-muted">
											<i class="fa fa-clock-o"></i> Yesterday at 4:32 PM
										</p>
										<p>Lorem ipsum dolor sit amet, consectetur...</p>
									</div>
								</div>
						</a></li>
						<li class="message-preview"><a href="#">
								<div class="media">
									<span class="pull-left"> <img class="media-object"
										src="http://placehold.it/50x50" alt="" />
									</span>
									<div class="media-body">
										<h5 class="media-heading">
											<strong>Coordenador</strong>
										</h5>
										<p class="small text-muted">
											<i class="fa fa-clock-o"></i> Yesterday at 4:32 PM
										</p>
										<p>Lorem ipsum dolor sit amet, consectetur...</p>
									</div>
								</div>
						</a></li>
						<li class="message-footer"><a href="#">Read All New
								Messages</a></li>
					</ul></li>
				<li class="dropdown"><a href="#" class="dropdown-toggle"
					data-toggle="dropdown"><i class="fa fa-bell"></i> <b
						class="caret"></b></a>
					<ul class="dropdown-menu alert-dropdown">
						<li><a href="#">Alert Name <span
								class="label label-default">Alert Badge</span></a></li>
						<li><a href="#">Alert Name <span
								class="label label-primary">Alert Badge</span></a></li>
						<li><a href="#">Alert Name <span
								class="label label-success">Alert Badge</span></a></li>
						<li><a href="#">Alert Name <span class="label label-info">Alert
									Badge</span></a></li>
						<li><a href="#">Alert Name <span
								class="label label-warning">Alert Badge</span></a></li>
						<li><a href="#">Alert Name <span
								class="label label-danger">Alert Badge</span></a></li>
						<li class="divider"></li>
						<li><a href="#">View All</a></li>
					</ul></li>
				<li class="dropdown"><a href="#" class="dropdown-toggle"
					data-toggle="dropdown"><i class="fa fa-user"></i> Coordenador<b
						class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="#"><i class="fa fa-fw fa-user"></i> Perfil</a></li>
						<li><a href="#"><i class="fa fa-fw fa-envelope"></i>
								Mensagens</a></li>
						<li><a href="#"><i class="fa fa-fw fa-gear"></i>
								Configurações</a></li>
						<li class="divider"></li>
						<li><a href="#"><i class="fa fa-fw fa-power-off"></i>
								Sair</a></li>
					</ul></li>
			</ul>
			<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
			<div class="collapse navbar-collapse navbar-ex1-collapse">
				<ul class="nav navbar-nav side-nav">
					<li><a href="dashboard.html"><i
							class="fa fa-fw fa-dashboard"></i> Dashboard</a></li>
					<li><a href="javascript:;" data-toggle="collapse"
						data-target="#tcc"><i class="fa fa-fw fa-edit"></i> TCC<i
							class="fa fa-fw fa-caret-down"></i></a>
						<ul id="tcc" class="collapse">
							<li><a href="deftema.html"> Tema</a></li>
							<li><a href="#"> Proposta</a></li>
							<li><a href="#"> Avaliação</a></li>

						</ul></li>
					<li><a href="javascript:;" data-toggle="collapse"
						data-target="#defbanca"><i class="fa fa-fw fa-wrench"></i>
							Administração<i class="fa fa-fw fa-caret-down"></i></a>
						<ul id="defbanca" class="collapse">
							<li><a href="defbanca.html"> Banca</a></li>
							<li><a href="#"> Cronograma</a></li>
						</ul></li>
					<li><a href="blankpage.html"><i class="fa fa-fw fa-file"></i>
							Blank Page</a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</nav>

		<div id="page-wrapper">

			<div class="container-fluid">

				<!-- Page Heading -->
				<div class="row">
					<div class="col-lg-12">
						<h1 class="page-header">Banca Examinadora</h1>
						<ol class="breadcrumb">
							<li><i class="fa fa-dashboard"></i> <a href="dashboard.html">Dashboard</a>
							</li>
							<li><i class="fa fa-fw fa-edit"></i> <a href="defbanca.html">Lista
									TCC</a></li>
							<li class="active"><i class="fa fa-file"></i> Edição Banca</li>

						</ol>
					</div>
				</div>
				<!-- /.row -->
				<div class="row">
					<div class="col-lg-12">
						<div class="panel panel-info">
							<div class="panel-heading">
								<h3 class="panel-title">
									<strong>Cassiano Doneda</strong>
								</h3>
								<h5>Qualidade da informação na adoção do software IFTCC no
									campus IFRS-Canoas</h5>
							</div>
							<div class="panel-body">Resumo: Este trabalho apresenta os
								elementos que constituem a estrutura de um artigo cientifico bem
								como apresenta de forma geral as regras de apresentação, o
								resumo, a citação no texto e as referências. As orientações aqui
								apresentadas baseiam-se na norma para apresentação de artigo
								científico, a NBR 6022 de 2003.</div>



							<div class="panel-body">
								<div class="col-sm-8">
									<div class="panel panel-default">
										<div class="panel-heading">
											<h3 class="panel-title">Banca Examinadora</h3>
										</div>
										<!-- List group -->
										<ul class="list-group">
											<li class="list-group-item"><label>Orientador:
													Márcio Bigolin</label></li>
											<li class="list-group-item">
												<div class="form-group">
													<label>Avaliador 1</label> <select class="form-control">
														<option></option>
														<option>Nome de Professor</option>
														<option>Nome de Professor</option>
														<option>Nome de Professor</option>
														<option>Nome de Professor</option>
														<option>Nome de Professor</option>
													</select> <small><p class="help-block">
															<a href="#">Adicionar professor externo</a>
														</p></small>
												</div>


												<div class="form-group">
													<label>Avaliador 2</label> <select class="form-control">
														<option></option>
														<option>Nome de Professor</option>
														<option>Nome de Professor</option>
														<option>Nome de Professor</option>
														<option>Nome de Professor</option>
													</select> <small><p class="help-block">
															<a href="#">Adicionar professor externo</a>
														</p></small>
												</div>
											</li>
										</ul>
									</div>

								</div>
								<!-- /.col-sm-4 -->
								<div class="col-sm-4">
									<div class="panel panel-default">
										<div class="panel-heading">
											<h3 class="panel-title">Agenda / Local</h3>
										</div>
										<!-- List group -->
										<ul class="list-group">
											<li class="list-group-item"><label>Data e
													horário</label>
												<div class="form-group input-group">
													<input type="text" class="form-control"
														placeholder="00/00/0000 23:59" /> <span
														class="input-group-btn">
														<button class="btn btn-default" type="button">
															<i class="fa fa-calendar"></i>
														</button>
													</span>
												</div></li>
											<li class="list-group-item">
												<div class="form-group">
													<label>Local</label> <select class="form-control">
														<option>Auditório 1</option>
														<option>Auditório 2</option>
														<option>Laboratório 9</option>
														<option>Laboratório 10</option>
													</select>
												</div>
											</li>
										</ul>
									</div>
								</div>

							</div>

							<div class="panel-footer">
								<p class="text-right">
									<button type="button" class="btn btn-danger">Cancelar</button>
									<button type="button" class="btn btn-success">Salvar</button>
								</p>
							</div>
						</div>
					</div>








				</div>
				<div class="row">
					<div class="col-sm-8">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">Banca Examinadora</h3>
							</div>
							<!-- List group -->
							<ul class="list-group">
								<li class="list-group-item"><label>Orientador:
										Márcio Bigolin</label></li>
								<li class="list-group-item">
									<div class="form-group">
										<label>Avaliador 1</label> <select class="form-control">
											<option></option>
											<option>Nome de Professore</option>
											<option>Nome de Professore</option>
											<option>Nome de Professore</option>
											<option>Nome de Professore</option>
											<option>Nome de Professore</option>
										</select> <small><p class="help-block">
												<a href="#">Adicionar professor externo</a>
											</p></small>
									</div>


									<div class="form-group">
										<label>Avaliador 2</label> <select class="form-control">
											<option></option>
											<option>Nome de Professore</option>
											<option>Nome de Professore</option>
											<option>Nome de Professore</option>
											<option>Nome de Professore</option>
										</select> <small><p class="help-block">
												<a href="#">Adicionar professor externo</a>
											</p></small>
									</div>
								</li>
							</ul>
						</div>

					</div>
					<!-- /.col-sm-4 -->
					<div class="col-sm-4">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">Agenda / Local</h3>
							</div>
							<!-- List group -->
							<ul class="list-group">
								<li class="list-group-item"><label>Data e horário</label>
									<div class="form-group input-group">
										<input type="text" class="form-control"
											placeholder="00/00/0000 23:59" /> <span
											class="input-group-btn">
											<button class="btn btn-default" type="button">
												<i class="fa fa-calendar"></i>
											</button>
										</span>
									</div></li>
								<li class="list-group-item">
									<div class="form-group">
										<label>Local</label> <select class="form-control">
											<option>Auditório 1</option>
											<option>Auditório 2</option>
											<option>Laboratório 9</option>
											<option>Laboratório 10</option>
										</select>
									</div>
								</li>
							</ul>
						</div>
					</div>


				</div>



			</div>
			<!-- /.container-fluid -->

		</div>
		<!-- /#page-wrapper -->

	</div>
	<!-- /#wrapper -->
	<script src="js/jquery.js"></script>

	<script src="js/bootstrap.min.js"></script>

</body>

</html>
