<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="Cassiano Doneda" content="" />

    <title>SB Admin - Bootstrap Admin Template</title>
    
    <link href="css/bootstrap.min.css" rel="stylesheet" />

    
    <link href="css/sb-admin.css" rel="stylesheet" />

    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />

</head>

<body>
    
    <div id="wrapper">
            <div th:replace ="nav :: nav">
             </div>
             
        	<div id="page-wrapper">
			<div class="container-fluid">

				<!-- Page Heading -->
				<div class="row">
					<div class="col-lg-12">
						<h1 class="page-header">Temas</h1>
					    
						<ol class="breadcrumb">
						     <li>
                                <i class="fa fa-dashboard"></i>  <a href="dashboard.html">Dashboard</a>
                            </li>
							<li class="active"> <i class="fa fa-file"></i> Listagem Historico de Gronocramas</li>
						</ol>
					
					</div>
				</div>
				 <div class="row">
				  <div class="col-lg-6">
					   <form role="">
	                     <div class="form-group input-group">
	                         <input type="text" class="form-control" placeholder="Curso , Ano, status" />
	                         <span class="input-group-btn">
	                         <button class="btn btn-default" type="button">
	                         	<i class="fa fa-search"></i>
	                         </button>
	                         </span>
	                      </div>
	                   </form>
	               </div>
                </div>
                <div class="row">
	                <div class="col-lg-10">
	                </div>
	                 <div class="col-lg-2">
	                 <a type="button" class="btn btn-sm btn-primary" href="cadastraCronograma" >Cadastrar Cronograma </a>
                    	
                    </div>
	               
                </div>
                <br/> 
				<div class="row">   
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Historico de Cronograma</h3>
						</div>
						<div class="panel-body">
							<div class="table-responsive">
								<table class="table table-bordered table-hover">
									<thead>
										<tr>
											<th>Curso</th>
											<th>Semestre</th>
											<th>Ano</th>
											<th>Status</th>
											
											
										<th width="10%" >Ação</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>TADS</td>
											<td>1º</td>
											<td>2017</td>
											<td><span class="label label-success">Em andamento</span></td>
											<td>
											  
											  <a href=""><i class="fa fa-trash-o fa-2x" aria-hidden="true"></i> </a>
											   &nbsp;
											  <a href="edittema"><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i> </a>
											  
											</td>
										</tr>
										<tr>
											<td>Matematica</td>
											<td>2º</td>
											<td>2016</td>
											<td><span class="label label-danger">Encerrado</span></td>
											<td>
											  
											 
											</td>
										</tr>
										<tr>
											<td>TADS</td>
											<td>1º</td>
											<td>2015</td>
											<td><span class="label label-danger">Encerrado</span></td>
											<td>
											  
											
											</td>
										</tr>
										<tr>
											<td>TADS</td>
											<td>1º</td>
											<td>2017</td>
											<td><span class="label label-danger">Encerrado</span></td>
											<td>
											  
											 
											</td>
										</tr>
										<tr>
											<td>TADS</td>
											<td>1º</td>
											<td>2017</td>
											<td><span class="label label-danger">Encerrado</span></td>
											<td>
											 
											</td>
										</tr>

									</tbody>
								</table>
								<div class="col-sm-2"></div>
								<div class="col-sm-3"></div>
								<div class="col-sm-4">
									<nav aria-label="Page navigation">
										<ul class="pagination">
											<li><a href="#" aria-label="Previous"> <span
													aria-hidden="true">&laquo;</span>
											</a></li>
											<li><a href="#">1</a></li>
											<li><a href="#">2</a></li>
											<li><a href="#">3</a></li>
											<li><a href="#">4</a></li>
											<li><a href="#">5</a></li>
											<li><a href="#" aria-label="Next"> <span
													aria-hidden="true">&raquo;</span>
											</a></li>
										</ul>
									</nav>
								</div>
							</div>
						</div>
					</div>



				</div>

			</div>
			</div>

    </div>
    <!-- /#wrapper -->  
    <script src="js/jquery.js"></script>

    <script src="js/bootstrap.min.js"></script>

</body>

</html>
