<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="" />
<meta name="Cassiano Doneda" content="" />

<title>SB Admin - Bootstrap Admin Template</title>

<link href="css/bootstrap.min.css" rel="stylesheet" />


<link href="css/sb-admin.css" rel="stylesheet" />

<link href="font-awesome/css/font-awesome.min.css" rel="stylesheet"
	type="text/css" />


</head>

<body>


	<div id="wrapper">

		<!-- Navigation -->
		<div th:replace="nav :: nav"></div>

		<div id="page-wrapper">

			<div class="container-fluid">

				<!-- Page Heading -->
				<div class="row">
					<div class="col-lg-12">
						<h1 class="page-header">Proposta TCC</h1>
						<ol class="breadcrumb">
							<li><i class="fa fa-dashboard"></i> <a href="dashboard.html">Dashboard</a>
							</li>
							<li><i class="fa fa-fw fa-edit"></i> <a href="defproposta">Lista
									Proposta</a></li>
							<li class="active"><i class="fa fa-file"></i> Proposta</li>

						</ol>
					</div>
				</div>
				<!-- /.row -->

				<div class="row">
					<div class="col-lg-12">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">
									<strong>Tema / Orientador</strong>
								</h3>
							</div>
							<div class="panel-body">
								<form role="form">
									<div  class="col-lg-12"><label>Selecione um Tema</label></div>
									<div class="col-lg-10">
										<div class="form-group">											 
											<select class="form-control">
												<option></option>
												<option>Tema 1 </option>
												<option>Tema 2 </option>
											</select>											
										</div>
									</div>
									<div class="col-lg-2">
										<p>							
											<a type="button" class="btn btn-success" href="novaProposta">Salvar Tema</a>
										</p>
									</div>
								</form>
							</div>
							<div class="panel-heading">
								<h3 class="panel-title">
									<strong>Formulário Proposta de TCC</strong>
								</h3>
							</div>
							<div class="panel-body">
								<form role="form">
									<div class="form-group">
										<label>Título / Tema</label> 
										<input class="form-control" placeholder="Enter text" />
									</div>									
									<div class="form-group">
										<label>Problema</label>
										<textarea class="form-control" rows="2"></textarea>
									</div>
									<div class="form-group">
										<label>Objetivos - Geral</label>
										<textarea class="form-control" rows="3"></textarea>
									</div>
									<div class="form-group">
										<label>Objetivos - Específicos</label>
										<textarea class="form-control" rows="3"></textarea>
									</div>
									<div class="form-group">
										<label>Introdução / Problematização</label>
										<textarea class="form-control" rows="3"></textarea>
									</div>
									<div class="form-group">
										<label>Justificativa</label>
										<textarea class="form-control" rows="3"></textarea>
									</div>
									<div class="form-group">
										<label>Fundamentação Teórica</label>
										<textarea class="form-control" rows="3"></textarea>
									</div>
									<div class="form-group">
										<label>Metodologia</label>
										<textarea class="form-control" rows="3"></textarea>
									</div>
									<div class="form-group">
										<label>Referência</label>
										<textarea class="form-control" rows="3"></textarea>
									</div>								
								</form>
							</div>
							<div class="panel-footer">
								<p class="text-right">
									<a type="button" class="btn btn-danger" href="defproposta">Cancelar</a>
									<a type="button" class="btn btn-success" href="listaProposta">Salvar Proposta</a>									
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /.container-fluid -->

		</div>
		<!-- /#page-wrapper -->

	</div>
	<!-- /#wrapper -->
	<script src="js/jquery.js"></script>

	<script src="js/bootstrap.min.js"></script>
</body>

</html>
