<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="" />
        <meta name="Andressa Job" content="" />

        <title>Estrutura de Documentos</title>

        <link href="css/bootstrap.min.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet" />
        <link href="css/sb-admin.css" rel="stylesheet" />
        <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <link href="css/modal.css" rel="stylesheet"  type="text/css" />

    </head>
    <body>

        <div id="wrapper">

            <!-- Navigation -->
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">IFTCC</a>
                </div>
                <!-- Top Menu Items -->
                <ul class="nav navbar-right top-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> <b class="caret"></b></a>
                        <ul class="dropdown-menu message-dropdown">
                            <li class="message-preview">
                                <a href="#">
                                    <div class="media">
                                        <span class="pull-left">
                                            <img class="media-object" src="http://placehold.it/50x50" alt="" />
                                        </span>
                                        <div class="media-body">
                                            <h5 class="media-heading"><strong>Revisor</strong>
                                            </h5>
                                            <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                            <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="message-preview">
                                <a href="#">
                                    <div class="media">
                                        <span class="pull-left">
                                            <img class="media-object" src="http://placehold.it/50x50" alt="" />
                                        </span>
                                        <div class="media-body">
                                            <h5 class="media-heading"><strong>Revisor</strong>
                                            </h5>
                                            <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                            <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="message-preview">
                                <a href="#">
                                    <div class="media">
                                        <span class="pull-left">
                                            <img class="media-object" src="http://placehold.it/50x50" alt="" />
                                        </span>
                                        <div class="media-body">
                                            <h5 class="media-heading"><strong>Revisor</strong>
                                            </h5>
                                            <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                            <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="message-footer">
                                <a href="#">Read All New Messages</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> <b class="caret"></b></a>
                        <ul class="dropdown-menu alert-dropdown">
                            <li>
                                <a href="#">Alert Name <span class="label label-default">Alert Badge</span></a>
                            </li>
                            <li>
                                <a href="#">Alert Name <span class="label label-primary">Alert Badge</span></a>
                            </li>
                            <li>
                                <a href="#">Alert Name <span class="label label-success">Alert Badge</span></a>
                            </li>
                            <li>
                                <a href="#">Alert Name <span class="label label-info">Alert Badge</span></a>
                            </li>
                            <li>
                                <a href="#">Alert Name <span class="label label-warning">Alert Badge</span></a>
                            </li>
                            <li>
                                <a href="#">Alert Name <span class="label label-danger">Alert Badge</span></a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#">View All</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Revisor<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#"><i class="fa fa-fw fa-user"></i> Perfil</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-fw fa-envelope"></i> Mensagens</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-fw fa-gear"></i> Configurações</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#"><i class="fa fa-fw fa-power-off"></i> Sair</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav side-nav">
                        <li>
                            <a href="dashboard.html"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                        </li>
                        <li>
                            <a href="javascript:;" data-toggle="collapse" data-target="#tcc"><i class="fa fa-fw fa-edit"></i> TCC<i class="fa fa-fw fa-caret-down"></i></a>
                            <ul id="tcc" class="collapse">
                                <li>
                                    <a href="deftema.html"> Tema</a>
                                </li>
                                <li>
                                    <a href="#"> Proposta</a>
                                </li>
                                <li>
                                    <a href="#"> Avaliação</a>
                                </li>
                                <li>
                                    <a href="acompanhamento.html"> Acompanhamento</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:;" data-toggle="collapse" data-target="#defbanca"><i class="fa fa-fw fa-wrench"></i> Administração<i class="fa fa-fw fa-caret-down"></i></a>
                            <ul id="defbanca" class="collapse">
                                <li>
                                    <a href="defbanca.html"> Banca</a>
                                </li>
                                <li>
                                    <a href="#"> Cronograma</a>
                                </li>
                            </ul>
                        </li>                       
                        <li>
                            <a href="javascript:;" data-toggle="collapse" data-target="#documentos"><i class="fa fa-fw fa-file-text-o"></i> Documentos<i class="fa fa-fw fa-caret-down"></i></a>
                            <ul id="documentos" class="collapse">
                                <li>
                                    <a href="estruturarDocumentos.html"> Estrutura</a>
                                </li>
                            </ul>
                        </li>      
                        <li>
                            <a href="blankpage.html"><i class="fa fa-fw fa-file"></i> Blank Page</a>
                        </li>  
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </nav>

            <div id="page-wrapper">
                <h1 class="page-header">
                    Template
                </h1>
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-dashboard"></i>  <a href="dashboard.html">Dashboard</a>
                    </li>
                    <li class="active">
                        <i class="fa fa-file"></i> Título documento
                    </li>
                </ol>
                <div class="row">
                    <div class="col-lg-10">
                    </div>
                    <div class="col-lg-2">
                        <a class="btn btn-sm btn-primary" href="#openModal2">Cadastrar novo tópico </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-10">
                    </div>
                    <div class="col-lg-2">
                        <a class="btn btn-sm btn-danger" href="#modalDelete">Deletar template</a>
                    </div> 
                </div>

                <div id="document-menu" class="ui-layout-west panel" style="background-color: #f6f6f6;">
                    <ul class="nav nav-pills nav-stacked">
                        <li id="title-menu-item">
                            <a href="#openModal" id="identification" role="button" title="Identificação do trabalho">
                                <span class="glyphicon glyphicon-book"></span>
                                <span>
                                    CAPA
                                </span>
                            </a>
                        </li>
                        <li>
                            <a id="authors" href="#openModal" role="button">
                                <span class="fa fa-users"></span>
                                <span>AUTORES</span>
                            </a>
                        </li>
                        <li>
                            <a id="acronyms" href="#openModal" role="button">
                                <span class="glyphicon glyphicon-list"></span>
                                <span>SIGLAS</span>
                            </a>
                        </li>
                        <li>
                            <a id="symbols" href="#openModal" role="button">
                                <span class="glyphicon glyphicon-list"></span>
                                <span>SÍMBOLOS</span>
                            </a>
                        </li>
                        <li>
                            <a role="button" data-menu-type="document" data-attribute="dedicatory" href="#openModal">
                                <span class="fa fa-file-text-o"></span>
                                Dedicatória</a>
                        </li>
                        <li>
                            <a role="button" data-menu-type="document" data-attribute="acknowledgment" href="#openModal">
                                <span class="fa fa-file-text-o"></span>
                                Agradecimentos</a>
                        </li>
                        <li>
                            <a role="button" data-menu-type="document" data-attribute="epigraph" href="#openModal">
                                <span class="fa fa-file-text-o"></span>
                                Epígrafe</a>
                        </li>
                        <li>
                            <a role="button" data-menu-type="document" data-attribute="abstract_translated" href="#openModal">
                                <span class="fa fa-file-text-o"></span>
                                Resumo</a>
                        </li>
                        <li>
                            <a role="button" data-menu-type="document" data-attribute="abstract" href="#openModal">
                                <span class="fa fa-file-text-o"></span>
                                Abstract</a>
                        </li>
                        <li>
                            <a role="button" data-menu-type="document" data-attribute="body" data-initial-attribute="true" href="#openModal">
                                <span class="fa fa-file-text"></span>
                                Capítulos</a>
                        </li>
                        <li>
                            <a role="button" data-menu-type="document" data-attribute="appendix" href="#openModal">
                                <span class="fa fa-file-text-o"></span>
                                Apêndices</a>
                        </li>
                        <li>
                            <a role="button" data-menu-type="document" data-attribute="attachment" href="#openModal">
                                <span class="fa fa-file-text-o"></span>
                                Anexos</a>
                        </li>
                    </ul>
                    <div id="spoiler" style="display: none">
                        <ul class="nav nav-pills nav-stacked">
                            <li>
                                <a role="button" data-menu-type="document" data-attribute="novoTopico" href="#openModal">
                                    <span class="fa fa-file-text-o"></span>
                                    Novo tópico adicionado</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div id="openModal" class="modalDialog">
                    <div>
                        <a href="#close" title="Fechar" class="close">X</a>
                        <h2>Título do tópico</h2>
                        <p>Editar corpo do tópico</p>
                        <textarea rows="10" cols="50">
Aqui você edita o corpo do seu tópico.
                        </textarea>
                        <a href="#close" class="btn btn-success">Salvar</a>
                    </div>
                </div>
                <div id="openModal" class="modalDialog">
                    <div>
                        <a href="#close" title="Fechar" class="close">X</a>
                        <h2>Título do tópico</h2>
                        <p>Editar corpo do tópico</p>
                        <textarea rows="10" cols="50">
Aqui você edita o corpo do seu tópico.
                        </textarea>
                        <a href="#close" class="btn btn-success">Salvar</a>
                    </div>
                </div>
                <div id="openModal2" class="modalDialog">
                    <div>
                        <a href="#close" title="Fechar" class="close">X</a>
                        <h2>Criar tópico</h2>
                        <label>Digite o nome do seu tópico</label>
                        <input type="text"/>
                        <a href="#openModal3" class="btn btn-success">Salvar</a>
                    </div>
                </div>                
                <div id="openModal3" class="modalDialog">
                    <div>
                        <a href="#close" title="Fechar" class="close">X</a>
                        <h2>Título do seu tópico</h2>
                        <h4>O tópico foi salvo com sucesso.</h4>
                        <a href="#openModal4" class="btn btn-success" onclick="if (document.getElementById('spoiler').style.display == 'none') {
                                    document.getElementById('spoiler').style.display = ''
                                } else {
                                    document.getElementById('spoiler').style.display = 'none'
                                }">Confirmar</a>
                    </div>
                </div>
                <div id="modalDelete" class="modalDialog">
                    <div>
                        <a href="#close" title="Fechar" class="close">X</a>
                        <h3>Deseja remover o template?</h3>
                        <a href="#modalConfirm" class="btn btn-success">Sim</a>
                        <a href="#modalCancela" class="btn btn-danger">Cancelar</a>
                    </div>
                </div>    
                <div id="modalCancela" class="modalDialog">
                    <div>
                        <a href="#close" title="Fechar" class="close">X</a>
                        <h3>A exclusão do template foi cancelada.</h3>
                        <a href="#close" class="btn btn-success">Ok</a>
                    </div>
                </div>   
                <div id="modalConfirm" class="modalDialog">
                    <div>
                        <a href="#close" title="Fechar" class="close">X</a>
                        <h3>Template removido com sucesso.</h3>
                        <a href="estruturarDocumentos.html" class="btn btn-success">Ok</a>
                    </div>
                </div>   
            </div>
        </div>
        <!-- /#wrapper -->  
        <script src="js/jquery.js"></script>
        <script src="js/bootstrap.min.js"></script>
    </body>
</html>