<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1"/>
<title>augusto</title>
</head>
<body>
	<div style="width: 100%; padding:10px 10px; background-color: red;"><a href="/home"> <p style="text-align: center;">AUGUSTO</p></a></div>
	<div style="width: 100%; padding:10px 10px; background-color: orange;"><a href="/home"> <p style="text-align: center;">AUGUSTO</p></a></div>
	<div style="width: 100%; padding:10px 10px; background-color: yellow;"><a href="/home"> <p style="text-align: center;">AUGUSTO</p></a></div>
	<div style="width: 100%; padding:10px 10px; background-color: green;"><a href="/home"> <p style="text-align: center;">AUGUSTO</p></a></div>
	<div style="width: 100%; padding:10px 10px; background-color: blue;"><a href="/home"> <p style="text-align: center;">AUGUSTO</p></a></div>
	<div style="width: 100%; padding:10px 10px; background-color: lightblue;"><a href="/home"> <p style="text-align: center;">AUGUSTO</p></a></div>
	<div style="width: 100%; padding:10px 10px; background-color: violet;"><a href="/home"> <p style="text-align: center;">AUGUSTO</p></a></div>
</body>
</html>